body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #050505;

    background-image:
        linear-gradient(rgba(211, 0, 255, 0.05) 1px, transparent 1px),
        linear-gradient(90deg, rgba(211, 0, 255, 0.05) 1px, transparent 1px);
    background-size: 40px 40px;
    background-position: center center;

    cursor: default;
}

canvas {
    display: block;
    background: transparent;
}